button{
border-radius: 5px;
font-size: 150%;

}

#vermell{
    background-color:#FF7777;

}

#gris_fluix{
    background-color:#E8E8E8;

}

#verd{
    background-color:#29E51C;

}

#verd_fort{
    background-color:#0A9700;

}

#taronja{
    background-color:#FF7912;

}

#groc{
    background-color: #FFB912;

}


